
/* Font and background*/
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Lucida Grande', Arial, sans-serif;
    background-color: #ffffff;
}

/*
###################################
######### NAVBAR START ############
###################################

*/
.navbar {
    background: linear-gradient(to bottom, #c0c0c0, #a0a0a0);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.content {
    padding-top: 50px;
}

/* Navbar naar onderkant van site op telefoons voor betere houding*/
@media screen and (max-width: 768px) {
    .navbar {
        top: auto;
        bottom: 0;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    }

    .content {
        padding-top: 0; 
        padding-bottom: 50px;
    }
}


.navbar a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.content {
    padding-top: 50px;
}

/*
###################################
######### NAVBAR END ##############
###################################

*/

.tabcontent {
    display: none;
    padding: 60px 20px;
    height: 100%;
    text-align: center;
}
.tabcontent img {
    max-width: 100%;
}


/*
###################################
######### STORE GRID ##############
###################################

*/

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.product-box {
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    text-align: center;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px; 
}
.product-box a {
    color: black; 
    text-decoration: none; 
}

.product-box img {
    max-width: 100%;
    height: 250px; 
    object-fit: cover; 
}


.product-box h4, .product-box p {
    margin: 0;
    padding-top: 10px;
    flex-grow: 1;
}

/*
###################################
####### STORE GRID END  ###########
###################################

*/


